.btn {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 43px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  transition: background-color .2s;
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-secondary);
  }

  &:disabled,
  &--disabled {
    background-color: $color-form-checkbox--focus;
    color: $color-form-placeholder;
    cursor: default;

    &:hover,
    &:focus {
      background-color: $color-form-checkbox--focus;
    }
  }
}
