<!DOCTYPE html>
<html lang="en">

{{> partials/head.html}}

<body class="page-questions">
  {{> partials/skip-to-content.html}}
  {{> partials/header.html nav-items=homepage.header.nav-items}}
  <main id="content">
    {{> partials/in-progress.html}}
  </main>
  {{> partials/footer.html}}
</body>

</html>
