<section class="admission container container--narrow">
  <div class="admission__main-content" data-admission="{{page}}">
  </div>
  <div class=" admission__additional-content">
    {{> ./admission-dates.html.hbs admission-dates-section=link }}
    <div class="admission__illustration-container" alt="woman looking to location points">
      {{> ../icons/admission-illustration.html}}
    </div>
  </div>
</section>