<section class="apply__container container container--narrow">
    <div class="apply__content">
        <h2 class="apply__heading section-heading">Apply to academy</h2>
        <p class="apply__text">{{ apply-section.content }}</p>
        <a href="/register" class="btn apply__button" aria-label="Go to registration page">Apply now</a>
    </div>
    <div class="apply__image-wrapper">
        <img class="apply__image" src={{ apply-section.img.src }} alt="{{ apply-section.img.alt }}">
    </div>
</section>
