.academies-list {
  padding-bottom: $section-padding-mobile;
  padding-top: $section-padding-mobile;

  @include desktop {
    padding-bottom: 5.8rem;
    padding-top: 16.5rem;
  }

  .part {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    &__text-container {
      width: 100%;

      @include desktop {
        max-width: 50rem;
      }
    }

    &__title {
      margin-bottom: 3.5rem;
      margin-top: 3.5rem;

      @include desktop {
        margin-top: 0;
      }
    }

    &__text,
    &__btn {
      margin-bottom: 4rem;

      @include desktop {
        margin-bottom: 5rem;
      }
    }

    &__img {
      width: 100%;
      @include tablet {
        width: auto;
      }
    }
  }

  .developers,
  .testers,
  .front-end {
    padding-bottom: $section-padding-mobile;

    @include desktop {
      padding-bottom: 9rem;
    }
  }

  .developers {
    @include desktop {
      padding: 0 10rem 7rem 4.8rem;
      position: relative;
      text-align: left;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='920px' height='1373px' viewBox='0 0 920 1373' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='background-shape-homepage-2'%3E%3Cpath d='M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z' id='Path' fill='%23f6f5f7' fill-rule='nonzero'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='10s' values=' M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z; M0.996550582,0 C0.996550582,0 0.275,242.86284 165.095,355.44784 C329.915,468.03284 643.512,402.87 782.946,473.463 C922.38,544.056 954.474883,718.418531 861.312883,817.537531 C768.150883,916.656531 393.375946,878.83275 279.833946,1031.84375 C166.291946,1184.85475 235.506,1346.914 165.095,1365.78 C94.684,1384.646 81.013,1336.286 42.486,1334.999 C3.959,1333.712 0.996550582,1373.081 0.996550582,1373.081 L0.996550582,0 Z; M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z '%3E%3C/animate%3E%3C/path%3E%3Cpath d='M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27' id='Path' stroke='%233d3691' stroke-width='2'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='13s' values=' M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27; M21.948,32.927 C21.948,32.927 15.7832512,310.080757 191.120251,398.127757 C366.457251,486.174757 510.241422,372.367111 685.603324,398.127757 C860.965227,423.888404 922.105324,590.918757 866.984324,713.882757 C811.863324,836.846757 511.982539,868.395716 327.660539,1014.20872 C143.338539,1160.02172 237.822,1231.067 173.854,1304.444 C109.886,1377.821 24.812,1271.27 24.812,1271.27; M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27 '%3E%3C/animate%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        content: '';
        height: 1373px;
        position: absolute;
        right: -320px;
        top: -550px;
        transform: scale(-1, -1);
        width: 920px;
        z-index: map-get($z-index, waves);
      }
    }
  }

  .testers {
    flex-direction: column-reverse;

    @include desktop {
      flex-direction: row-reverse;
      padding: 7rem 5.1rem 11.9rem 15.2rem;
      position: relative;
      text-align: right;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='920px' height='1373px' viewBox='0 0 920 1373' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='background-shape-homepage-2'%3E%3Cpath d='M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z' id='Path' fill='%23f6f5f7' fill-rule='nonzero'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='10s' values=' M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z; M0.996550582,0 C0.996550582,0 0.275,242.86284 165.095,355.44784 C329.915,468.03284 643.512,402.87 782.946,473.463 C922.38,544.056 954.474883,718.418531 861.312883,817.537531 C768.150883,916.656531 393.375946,878.83275 279.833946,1031.84375 C166.291946,1184.85475 235.506,1346.914 165.095,1365.78 C94.684,1384.646 81.013,1336.286 42.486,1334.999 C3.959,1333.712 0.996550582,1373.081 0.996550582,1373.081 L0.996550582,0 Z; M0,0 C0,0 5.826,214.723 170.646,327.308 C335.466,439.893 642.512,402.87 781.946,473.463 C921.38,544.056 963.164,730.329 870.002,829.448 C776.84,928.567 441.127,937.932 327.585,1090.943 C214.043,1243.954 234.506,1346.914 164.095,1365.78 C93.684,1384.646 80.013,1336.286 41.486,1334.999 C2.959,1333.712 0,1373.081 0,1373.081 L0,0 Z '%3E%3C/animate%3E%3C/path%3E%3Cpath d='M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27' id='Path' stroke='%233d3691' stroke-width='2'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='13s' values=' M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27; M21.948,32.927 C21.948,32.927 15.7832512,310.080757 191.120251,398.127757 C366.457251,486.174757 510.241422,372.367111 685.603324,398.127757 C860.965227,423.888404 922.105324,590.918757 866.984324,713.882757 C811.863324,836.846757 511.982539,868.395716 327.660539,1014.20872 C143.338539,1160.02172 237.822,1231.067 173.854,1304.444 C109.886,1377.821 24.812,1271.27 24.812,1271.27; M20.948,32.927 C20.948,32.927 23.411,272.812 198.748,360.859 C374.085,448.906 521.972,373.565 691.619,429.489 C861.266,485.413 928.121,622.28 873,745.244 C817.879,868.208 538.322,867.531 354,1013.344 C169.678,1159.157 236.822,1231.067 172.854,1304.444 C108.886,1377.821 23.812,1271.27 23.812,1271.27 '%3E%3C/animate%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        content: '';
        height: 1373px;
        left: -320px;
        position: absolute;
        top: -380px;
        width: 920px;
        z-index: map-get($z-index, waves);
      }
    }
  }

  .front-end {
    flex-direction: column-reverse;

    @include desktop {
      flex-direction: row-reverse;
      padding: 11.9rem 4.8rem 7.5rem 10.9rem;
      text-align: right;
    }
  }

  .kids {
    @include desktop {
      padding: 7.5rem 4.8rem 0;
      position: relative;
      text-align: left;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='944px' height='1723px' viewBox='0 0 944 1723' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='background-shape-homepage-3' transform='translate(1.000000, 0.000000)'%3E%3Cpath d='M942.487,0 C942.487,0 916.807,237.664 846.087,428.273 C775.367,618.882 653.694,703.919 511.775,790.453 C369.856,876.987 269.408,833.07 139.923,954.664 C10.438,1076.258 -56.311,1416.594 176.38,1615.764 C387.196,1796.212 767.032,1581.17 860.587,1587.655 C954.142,1594.14 942.487,1722.905 942.487,1722.905 L942.487,0 Z' id='Path_861' fill='%23f6f5f7' fill-rule='nonzero'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='23s' values=' M942.487,0 C942.487,0 916.807,237.664 846.087,428.273 C775.367,618.882 653.694,703.919 511.775,790.453 C369.856,876.987 269.408,833.07 139.923,954.664 C10.438,1076.258 -56.311,1416.594 176.38,1615.764 C387.196,1796.212 767.032,1581.17 860.587,1587.655 C954.142,1594.14 942.487,1722.905 942.487,1722.905 L942.487,0 Z; M942.487,0 C942.487,0 916.807,237.664 846.087,428.273 C775.367,618.882 708.858628,618.882 519.553941,660.155963 C330.249253,701.429926 276.048276,706.359384 146.563276,827.953384 C17.0782755,949.547384 -68.2530979,1366.3706 164.437902,1565.5406 C375.253902,1745.9886 767.032,1581.17 860.587,1587.655 C954.142,1594.14 942.487,1722.905 942.487,1722.905 L942.487,0 Z; M942.487,0 C942.487,0 916.807,237.664 846.087,428.273 C775.367,618.882 653.694,703.919 511.775,790.453 C369.856,876.987 269.408,833.07 139.923,954.664 C10.438,1076.258 -56.311,1416.594 176.38,1615.764 C387.196,1796.212 767.032,1581.17 860.587,1587.655 C954.142,1594.14 942.487,1722.905 942.487,1722.905 L942.487,0 Z '%3E%3C/animate%3E%3C/path%3E%3Cpath d='M920.065,184.218 C920.065,184.218 908.35,381.337 814.174,545.882 C736.009,682.452 581.696,787.512 506.791,821.859 C341.439,897.677 197.158,839.586 80.674,974.031 C-35.81,1108.476 -47.65,1472.308 191.498,1637.89 C402.425,1783.932 689.142,1582.874 804.244,1588.453 C919.346,1594.032 920.065,1673.203 920.065,1673.203' id='Path_1180' stroke='%233d3691' stroke-width='2'%3E%3Canimate repeatCount='indefinite' attributeName='d' dur='19s' values=' M920.065,184.218 C920.065,184.218 908.35,381.337 814.174,545.882 C736.009,682.452 581.696,787.512 506.791,821.859 C341.439,897.677 197.158,839.586 80.674,974.031 C-35.81,1108.476 -47.65,1472.308 191.498,1637.89 C402.425,1783.932 689.142,1582.874 804.244,1588.453 C919.346,1594.032 920.065,1673.203 920.065,1673.203; M902.065,184.218 C902.065,184.218 878.014939,437.403845 783.838939,601.948845 C705.673939,738.518845 563.696,787.512 488.791,821.859 C323.439,897.677 214.78942,916.499867 98.3054199,1050.94487 C-18.1785801,1185.38987 -65.65,1472.308 173.498,1637.89 C384.425,1783.932 589.229578,1505.54262 750.627441,1505.54262 C912.025304,1505.54262 902.064,1673.203 902.064,1673.203; M920.065,184.218 C920.065,184.218 908.35,381.337 814.174,545.882 C736.009,682.452 581.696,787.512 506.791,821.859 C341.439,897.677 197.158,839.586 80.674,974.031 C-35.81,1108.476 -47.65,1472.308 191.498,1637.89 C402.425,1783.932 689.142,1582.874 804.244,1588.453 C919.346,1594.032 920.065,1673.203 920.065,1673.203 '%3E%3C/animate%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        content: '';
        height: 1723px;
        position: absolute;
        right: -350px;
        top: -800px;
        width: 944px;
        z-index: map-get($z-index, waves);
      }
    }
  }
}
