  <div class="particle-wrapper">
    <canvas></canvas>
    <section class="in-progress container">
      <p class="in-progress__text section-subheading">We're still working on this.</p>
      <img class="in-progress__image" src="assets/in_progress.svg" alt="A girl spinning gears">
    </section>
  </div>
