.academy-intro {
  overflow: hidden;
  padding-bottom: $section-padding-mobile;
  padding-top: 4rem;
  position: relative;
  text-align: center;

  &__heading {
    margin-top: 60%;
    position: relative;
    z-index: map-get($z-index, default);

    @include tablet {
      margin-top: 25rem;
    }

    @include desktop {
      margin-top: 18rem;
    }
  }

  &__content {
    @include desktop {
      max-width: 56rem;
    }
  }

  &__btn {
    margin-bottom: 4rem;
    margin-top: 4rem;

    @include tablet {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }
  }

  &__image-wrapper {
    position: absolute;
    right: -($mobile-padding-sides);
    top: -6rem;
    width: 80%;

    @include tablet {
      right: -($tablet-padding-sides);
      top: -10rem;
      width: 40rem;
    }

    @include desktop {
      height: 80rem;
      overflow: visible;
      top: -7.6rem;
      width: 55rem;
    }
  }

  &__play-icon {
    fill: $color-white;
    stroke: var(--color);
    stroke-width: .2rem;

    @include desktop {
      &:hover {
        fill: var(--color);
        stroke: $color-main-surface;
        transition: ease-in-out .3s;
      }
    }
  }

  &__image {
    max-width: 100%;
    object-fit: contain;

    @include desktop {
      display: none;
    }
  }

  &__video-btn {
    background: none;
    border: 0;
    cursor: pointer;
    left: 55%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 20rem;

    @include desktop {
      left: 55%;
      top: 45%;
    }
  }

  @include desktop {
    align-items: center;
    display: flex;
    height: 700px;
    margin-bottom: 20rem;
    overflow: initial;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
  }
}
