<div class="file-input__component">
  <span class="file-input__text">{{fileinput-component.text}}<span
      class="file-input__text--required">{{fileinput-component.text-required}}</span></span>
  <input type="file" id="file" class="file-input__input">
  <label for="file" class="file-input__label">
    <span class="file-input__content">{{fileinput-component.content}}</span>
    <img class="file-input__icon--add" src="./assets/file-add-icon.svg">
    <button type="button" class="file-input__button">
      <img class="file-input__icon--clear" src="./assets/file-clear-icon.svg">
    </button>
  </label>
  <span class="file-input__error-text">{{fileinput-component.error}}</span>

</div>