<section class="academies container" id="academies">
  <h2 class="academies__heading section-heading">{{homepage.academies-section.title}}</h2>
  <p class="academies__text">{{homepage.academies-section.content}}</p>
  <div class="academies__line" aria-hidden="true"></div>
  <div class="academies__arrow-container">
    <div class="academies__arrow-link" aria-label="{{homepage.academies-section.link.aria-label}}"><img
        src="{{homepage.academies-section.img.src}}" class="academies__arrow" aria-hidden="true" alt=""></div>
  </div>
</section>