  <div class="background-academy" aria-hidden="true">
    <div class="background-academy__wrapper">

    <div class="background-academy__wrapper-right">
      <div class="background-academy__wave-right-1">
        {{> ../icons/background-shapes/background-shape-video.html}}
      </div>
      <div class="background-academy__wave-right-2">
        {{> ../icons/background-shapes/background-shape-admissions.html}}
      </div>
    </div>
    </div>
  </div>